numpy>=1.26.4,<=2.1.1
pandas==2.2.2
scikit-learn>=1.3.2,<=1.5.1
lightgbm>=4.4.0,<=4.5.0
optuna>=3.5.0,<=4.0.0
optuna-integration>=3.2.0,<=4.0.0
plotly>=5.11.0,<=5.24.0
matplotlib==3.9.2
seaborn==0.13.2
python-dateutil==2.9.0
holidays==0.56
mlxtend==0.23.1
category_encoders>=2.5.1,<=2.6.3
# following packages for testing purposes only
# fastparquet==2024.5.0
# pytest==8.3.2